<div>

	<div class="row">
		<div class="col s12 left">
			<h5>{{thing.name}}</h5>
			<div class="divider green"></div>
		</div>
	</div>

	<div class="row sensorType z-depth-2" *ngFor="let sensor of sensorTypes">
		<div class="col s12 left">
			<h5 style="padding-left: 2em;">{{sensor.type | uppercase}}</h5>
			<div class="divider blue"></div>
		</div>
		<div *ngIf="sensor.datasets.length" class="col s12 m6">
			<canvas baseChart class="chart" [datasets]="sensor.datasets" [labels]="sensor.labels" [chartType]="'line'" [options]="chartOptions"></canvas>
			<div style="text-align:center">Datos</div>
		</div>
		<div *ngIf="sensor.averages.data.length" class="col s12 m6">
			<canvas baseChart class="chart" [datasets]="sensor.averages.data" [chartType]="'bar'" [options]="chartOptions"></canvas>
			<div style="text-align:center">Promedio</div>
		</div>
		<div *ngIf="sensor.noData" class="col s12">
			<h5>No hay datos en este rango de tiempo</h5>
		</div>
	</div>

</div>

<div class="fixed-action-btn" style="bottom: 45px; left: 24px;">
	<button materialize="modal" class="btn-floating teal trigger-modal btn-large" (click)="openModal()" [materializeParams]="[{dismissible: false}]">
		<i class="large material-icons">event</i>
	</button>
</div>

<div id="datepicker-modal" class="modal bottom-sheet" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
	<div class="modal-content">
		<div class="row">
			<div class="col s6 m4">
				<a (click)="setDates(null, null, 'today')" class="modal-action modal-close waves-effect waves-green btn">Hoy</a>
			</div>
			<div class="col s6 m4">
				<a (click)="setDates(null, null, 'week')" class="modal-action modal-close waves-effect waves-green btn">Esta Semana</a>
			</div>
			<div class="col s12 m4">
				<form materialize [formGroup]="datepairForm">
					<div class="row">
						<div class="col s12">
							<field feedback="true">
								<input type="date" class="datepicker" id="since" materialize="pickadate" [materializeParams]="[pickadateOptions]" formControlName="since">
								<label for="since">Desde</label>
							</field>
						</div>
						<div class="col s12">
							<field feedback="true">
								<input type="date" class="datepicker" id="to" materialize="pickadate" [materializeParams]="[pickadateOptions]" formControlName="to">
								<label for="to">Hasta</label>
							</field>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<a (click)="setDates(datepairForm.value.since, datepairForm.value.to)" class=" modal-action modal-close waves-effect waves-green btn-flat">Aceptar</a>
	</div>
</div>