<div class="simple-card {{color}} z-depth-2">
  <span *ngIf="name">{{name}}</span> <span *ngIf="value" class="value">{{value}}</span>
  <div class="content">
    <ng-content></ng-content>
  </div>
</div>