<router-outlet>
</router-outlet>
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <button class="btn-floating btn-large red">
		<i class="large material-icons">mode_edit</i>
	</button>
  <ul>
    <li>
      <a class="btn-floating teal" [routerLink]="['../reports']"><i class="material-icons"
      materialize="tooltip"
      data-position="left"
      data-delay="50"
      data-tooltip="Graficas"
      >assessment</i></a>
    </li>
    <li>
      <a materialize="tooltip" [routerLink]="['statistics']" class="btn-floating indigo tooltipped" data-position="left" data-delay="50"
        data-tooltip="Estadisticas">
        <i class="material-icons">dashboard</i>
      </a>
    </li>
  </ul>
</div>