.thing-detail{
	background-color: white;
	padding: 0.2em 0.8em;
	position: relative;
	margin: 1em;

	hr{
		background-color: rgba(0, 0, 0, 0.2);
	}
	.name{
		text-align: center;
		color:black;
		.settings-btn{
			cursor: pointer;
			position:absolute;
			color: black;
			font-size: 1em;
			right: 10px;
    	top: 10px;
			.material-icons{
				position: initial;
    		font-size: 0.8em;
			}
		}	
	}

	

	

	&.alert{
		background-color: rgba(200, 0, 0, 0.7);
		transition-duration: 1s;
		.name{
			color: white;
			.settings-btn{
				color: white;
			}
		}
		.material-icons{
			position: absolute;
			font-size: 1.5em;
		}

		

		.material-icons.left{
			left: 15%;
		}

		.material-icons.right{
			right: 15%;
		}
	}


}