<div [class.alert]="alert()" class="thing-detail z-depth-1">

	<h4 class="name">
		<i class="material-icons white-text left">warning</i> {{thing.name}}
		<i class="material-icons white-text right">warning</i>
		<a *ngIf="canEdit" (click)="quickConfig()" class="btn-floating btn-small settings-btn waves-effect waves-light blue"><i class="material-icons">settings</i></a>
	</h4>



	<hr>
	<app-thing-quick-update [editState]="editState" [thing]="thing"></app-thing-quick-update>
	<ul *ngIf="sensorsTypes" class="white z-depth-1 sensors-list">
		<div *ngFor="let sensors of sensorsTypes">
			<app-sensor-type-collapsible *ngIf="sensors[0].type !== 'ram'" [sensors]="sensors"></app-sensor-type-collapsible>
			<app-ram-collapsible *ngIf="sensors[0].type === 'ram'" [sensors]="sensors"></app-ram-collapsible>
		</div>
	</ul>
	<div class="red-text" *ngIf="!thing.sensors || !thing.sensors.length">Esta unidad no tiene sensores</div>

</div>