 <div class="sensor-type card">
    <div class="valign-wrapper activator black card-indicator waves-effect waves-block waves-light">
      <div class=" white-text center">
        <h4 class="valign">{{average()}} {{unit}}</h4>
      </div>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">{{sensors[0].type | uppercase}}<i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">{{sensors[0].type | uppercase}}<i class="material-icons right">close</i></span>
      <app-sensor-detail *ngFor="let sensor of sensors" [sensor]="sensor" ></app-sensor-detail>
    </div>
  </div>