<li class="sensor-collapsible">
	<app-progress-indicator class="clickable" (click)="toggleList()" [name]="type" [value]="percentage()"
                          [unit]="unit" [icon]="'memory'" [color]="'green'"></app-progress-indicator>
	<div class="body" [@listState]="listState">
		<app-progress-indicator *ngFor="let sensor of sensors" [color]="'green lighten-2'" [size]="'small'"
                            [name]="sensor.name"
                            [alert]="sensor.alert"
                            [min]="sensor.min"
                            [max]="sensor.max"
                            [value]="sensor.lastMeasure.value"
                            [unit]="sensor.unit"
                            >
    </app-progress-indicator>
	</div>
</li>
