<div class="indicator-bar tooltipped {{this.size}}" [class.red]="alert">
  <span class="{{color}} progress-bar" [style.width]="widthPercentage()"></span>
  <i *ngIf="icon" class="material-icons icon">{{icon}}</i>
  <div class="name">
    {{name | uppercase}}
  </div>
  <i *ngIf="alert" style="font-size: 1em" class="alert-icon material-icons white-text">warning</i>
  <div class="value">
    {{value}} {{unit}}
  </div>
</div>
