.indicator-bar{
		width: 100%;
		height: 4em;
		padding: 1em;
    line-height: 2;
		display: inline-flex;
		font-size: 1.2em;
		background-color: rgba(0,0,0,0.2);
    color: white;
		z-index: 1;

		&.small {
			height: 2em;
    	line-height: 0;

			.icon {
				top: 0;
			}

			.alert-icon{
				position: relative;
				z-index: 5;
				left: 2em;
    		top: -0.45em;
			}

		}

		.progress-bar{
			position: absolute;
			z-index: 2;
			height: inherit;
			width: 100%;
			transition-duration: 0.4s;
			margin: -1em;
		}

		.icon{
			z-index: 3;
			position: relative;
			top: 0.2em;
		}

		.name {
			z-index: 3;
			position: relative;
			left: 1em;
		}
		
		.value{
			z-index: 3;
			position: absolute;
    	right: 0.8em;
		}
		
	}