<div class="navbar-fixed">
	<nav>
		<div materialize class="nav-wrapper black">
			<a routerLink="/" class="brand-logo center">{{ navbarService.getTitle() | async }}</a>
			<ul>
				<li>
					<a *ngIf="authService.isAuth() | async" materialize="sideNav" [materializeParams]="[{closeOnClick:true}]" data-activates="side-nav"
						class="menu-btn"> <i class="material-icons">menu</i></a>
				</li>
				<li class="right">
					<a *ngIf="!(authService.isAuth() | async)" routerLink="/login" class="waves-effect">Login</a>
				</li>
			</ul>

		</div>
	</nav>
</div>


<app-sidenav></app-sidenav>