<div class="row">
	<div class="col s12 center-align">
		<div class="login">
			<h1>Monitor</h1>
			<form materialize [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
				<div class="row">
					<div class="col s12">
						<field feedback="true">
							<label for="email">Email</label>
							<input formControlName="email" id="email" name="email" type="email" placeholder="fulano@detal.com">
						</field>
						<br>
					</div>
				</div>
				<div class="row">
					<div class="col s12">
						<field feedback="true">
							<label for="password">Clave</label>
							<input formControlName="password" id="password" name="password" type="password" placeholder="">
						</field>

					</div>
				</div>
				<div class="row">
					<div class="col s12 center-align">
						<button [class.disabled]="!loginForm.valid || !loginForm.dirty" class="waves-effect btn" type="submit" name="action">Entrar
              <i class="material-icons right">send</i>
            </button>

					</div>
				</div>
				<!--
        <div class="row">
          <div class="col s12 center-align grey-text">
            <a href="#" (click)="TBD()" >Olvidaste tu contraseña?</a>
          </div>
        </div>-->
				<div class="row">
					<div class="col s12 center-align grey-text">
						Quieres <a routerLink="/signup">registrarte</a>?
					</div>
				</div>

			</form>
		</div>
	</div>
</div>