<div class="input-field">
	<ng-content></ng-content>
	<br>
	<span *ngIf="state.dirty">
		<i *ngIf="isFeedbackValid()" class="feedback-icon material-icons green-text left">done</i>
		<span *ngIf="isFeedbackNotValid()" class="red-text">
			<span *ngIf="state.errors.required" >
				Este campo es requerido
			</span>
	<span *ngIf="!state.errors.required">
				<span *ngIf="state.errors.message " >
					{{state.errors.message}}
					<br>
				</span>

	<span *ngIf="state.errors.minlength">
					Este campo debe contener mas de {{state.errors.minlength.requiredLength}} caracteres
					<br>
				</span>

	<span *ngIf="state.errors.maxlength">
					Este campo debe contener menos de {{state.errors.maxlength.requiredLength}} caracteres
					<br>
				</span>

	</span>

	</span>
	<span *ngIf="isFeedbackPending()" class="feedback-preloader">
			<div class="preloader-wrapper small active">
				<div class="spinner-layer spinner-green-only">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div><div class="gap-patch">
						<div class="circle"></div>
					</div><div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>
			</div>
		</span>
	<i *ngIf="isFeedbackNotValid()" class="feedback-icon material-icons red-text left">error_outline</i>
	</span>


</div>