.indicator{
	$border-thick: 0.5em;

		.name {
			padding: {
				left: 0.3em;
				right: 0.7em;
			}
		}

		.value {
			padding: {
				left: 0.7em;
				right: 0.5em;			
			}
		}

	  border-left: $border-thick solid black;
    margin: 0.4em 0.3em;
    width: inherit;
    display: inline-flex;
    background-color: white;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.5);
    line-height: 2;
    
		&.green-border{
			border-left: $border-thick solid green;
		}

		&.red-border{
			border-left: $border-thick solid red;
		}

		&.blue-border{
			border-left: $border-thick solid blue;
		}

		&.purple-border{
			border-left: $border-thick solid purple;
		}

}