<div [class.alert]="thing.alert" class="updateThingForm" [@editState]="editState">

	<form materialize [formGroup]="updateForm" (ngSubmit)="updateThing(updateForm.value)">
		<div class="row">
			<div class="col s12">
				<field feedback="true">
					<input type="text" [(ngModel)]="thing.name" formControlName="name" id="thingName" class="validate">
					<label for="thingName">Nombre</label>
				</field>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m6">
				<field feedback="true">
					<input type="number" formControlName="refreshRate" id="refreshRate" class="validate">
					<label for="refreshRate">Tasa de Refresco</label>
				</field>
			</div>
			<div class="col s12 m6">
				<field feedback="true">

					<select materialize="material_select" class="validate" formControlName="refreshRateUnit" name="refreshRateUnit" id="refreshRateUnit">
          <option value="1000">Segundos</option>
          <option value="60000">Minutos</option>
          <option value="3600000">Horas</option>
        </select>
					<label for="refreshRateUnit">Unidad de Tasa de Refresco</label>
				</field>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m6">
				<field feedback="true">
					<input type="number" formControlName="timeout" id="timeout" class="validate">
					<label for="timeout">Tiempo de espera por alarma:</label>
				</field>
			</div>
			<div class="col s12 m6">
				<field feedback="true">

					<select materialize="material_select" class="validate" formControlName="timeoutUnit" name="timeoutUnit" id="timeoutUnit">
          <option value="1000">Segundos</option>
          <option value="60000">Minutos</option>
          <option value="3600000">Horas</option>
        </select>
					<label for="refreshRateUnit">Unidad de tiempo de espera</label>
				</field>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s12 m4 l8">
				<button *ngIf="!sendingForm" [class.disabled]="!updateForm.valid || !updateForm.dirty" class="btn waves-effect waves-light"
					type="submit">Guardar
                    <i class="material-icons right">send</i>
              </button>
				<div *ngIf="sendingForm" class="progress">
					<div class="indeterminate"></div>
				</div>
				<div *ngIf="sucess">
					<i class="material-icons left">done </i>
				</div>
			</div>
		</div>

	</form>

</div>