<div *ngIf="loading" class="col s12 center">
	<div class="preloader-wrapper big active">
		<div class="spinner-layer spinner-blue-only">
			<div class="circle-clipper left">
				<div class="circle"></div>
			</div>
			<div class="gap-patch">
				<div class="circle"></div>
			</div>
			<div class="circle-clipper right">
				<div class="circle"></div>
			</div>
		</div>
	</div>
</div>
<div *ngIf="!loading">
	<div class="row">
		<div *ngFor="let thing of things;trackBy: thing?.id" class="col s12 l6">
			<app-thing-detail [canEdit]="canEdit" [thing]="thing"></app-thing-detail>
		</div>

	</div>
	<div *ngIf="!things.length" class="row">
		<app-new-thing></app-new-thing>
	</div>
</div>