.collection-item{

	&:hover{
		border-left: solid 10px purple;
		transition-duration: 0.2s; 
		color:purple !important;
		background-color: rgba(0,0,0,0.05) !important;
		font-weight: bold;
	}

	color: black !important;
	background-color: white;
}

.collection-header{
	font-size: 1.2em;
}