<div class="container center">
	<div class="row">
		<div class="col s12 center">
			<h3>Únete o Crea un Grupo</h3>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s12">
			<form>
				<i class="material-icons prefix">search</i>
				<input materialize type="text" id="group-name" [formControl]="group_name" placeholder="Centro de Modelado Científico" [class.invalid]="!valid"
					[class.valid]="valid" [class.valid]="valid" required>
				<label for="group-name">Nombre del Grupo</label>
				<span class="red-text" *ngIf="(!valid || error) && dirty">{{error_msg}}</span>
				<span class="green-text" *ngIf="success">{{success_msg}}</span>
				<br>
				<button class="btn waves-effect" *ngIf="valid" [class.disabled]="!valid" (click)="submit()">Crear</button>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<ul class="collection with-header">
				<a class="collection-item waves-effect modal-trigger" materialize="modal" *ngFor="let group of displayGroups" (click)="selectGroup(group)">
					{{group.name}}
				</a>
			</ul>
		</div>
	</div>
</div>

<div id="joinGroupModal" class="modal modal-fixed-footer" materialize="modal" [materializeParams]="[{dismissible: false}]"
	[materializeActions]="modalActions">
	<div class="modal-content center">
		<h4>Deseas Unirte al Grupo: </h4>
		<br>
		<h3 class="grey-text">{{selectedGroup.name}}</h3>
		<div *ngIf="joining" class="preloader-wrapper big active">
			<div class="spinner-layer spinner-blue-only">
				<div class="circle-clipper left">
					<div class="circle"></div>
				</div>
				<div class="gap-patch">
					<div class="circle"></div>
				</div>
				<div class="circle-clipper right">
					<div class="circle"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<a class="modal-action modal-close waves-effect waves-green btn-flat left" (click)="closeModal()">Cancelar</a>
		<a class="waves-effect waves-green btn-flat right" (click)="joinGroup()">Aceptar</a>
	</div>
</div>