<div class="home" (click)="sendAlert()" >
	{{moisesito}}
</div>
<div class="row">
	<div class="col s12">
		<button style="margin-top:1em" (click)="count()" class="btn waves-effect">Count</button>
	</div>
</div>


<indicator color="purple" name="Moises" value="{{counter}}" ></indicator>

<indicator  color="green" name="Times 2 = " value="{{counter*2}}" ></indicator>
<indicator  color="blue" name="Plus 2 = " value="{{counter+2}}" ></indicator>
<indicator  color="red" name="Elevated = " value="{{getPower(counter,2)}}" ></indicator>
