.collection-item{

	&:hover{
		border-left: solid 10px purple;
		transition-duration: 0.2s; 
		color:purple !important;
		background-color: rgba(0,0,0,0.05) !important;
		font-weight: bold;
	}

	&.unread{
		background-color: white;
		font-weight: bold;
	}
	cursor: pointer;
	color: black !important;
	background-color: rgba(0,0,0,0.05);
}

.collection-header{
	font-size: 1.2em;
}