<ul class="collection with-header">
  <li *ngIf="header" class="collection-header">
    {{header}}
  </li>
  <a class="collection-item" [class.unread]="!isRead(a)" *ngFor="let a of array" (click)="clickEvent(a)">
    {{a.name}}
    </a>
</ul>