<h2 align="center">Registro</h2>
<div class="row">
	<form materialize [formGroup]="registerForm" (ngSubmit)="logForm(registerForm.value)" class="col s12">
		<div class="row">
			<div class="col s6">
				<field feedback="true">
					<input id="first_name" formControlName="firstName" type="text" class="validate" required>
					<label for="first_name">Nombre</label>
				</field>
			</div>
			<div class="col s6">
				<field feedback="true">
					<input id="last_name" type="text" formControlName="lastName" class="validate" required>
					<label for="last_name">Apellido</label>
				</field>

			</div>
		</div>
		<div class="row">
			<div class="col s12">
				<field feedback="true">
					<input id="email" type="email" formControlName="email" required>
					<label for="email">Email</label>
				</field>

			</div>
		</div>
		<div class="row">
			<div class="col s12">
				<field feedback="true">
					<input id="password" type="password" formControlName="password" class="validate" required>
					<label for="password">Contraseña</label>
				</field>

			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<field feedback="true">
					<input id="password_repeat" formControlName="repeatPassword" type="password" class="validate" required>
					<label for="password_repeat">Repita Contraseña</label>
				</field>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s12 m4 l8">
				<button *ngIf="!sendingForm" [class.disabled]="!registerForm.valid || !registerForm.dirty" class="btn waves-effect waves-light"
					type="submit" name="action">Registrar
                    <i class="material-icons right">send</i>
              </button>
				<div *ngIf="sendingForm" class="progress">
					<div class="indeterminate"></div>
				</div>
				<div *ngIf="sucess">
					<i class="material-icons left">done </i>
				</div>
			</div>
		</div>



	</form>
</div>