<li class="sensor-collapsible">
	<app-progress-indicator class="clickable" (click)="toggleList()" [name]="type" [value]="average()" [unit]="unit" [icon]="'developer_board'"></app-progress-indicator>
	<div class="body" [@listState]="listState">
		<app-progress-indicator *ngFor="let sensor of sensors;trackBy:sensor?.id" [name]="sensor.name" [value]="sensor.lastMeasure.value"
			[unit]="sensor.lastMeasure.unit.abbreviation" [size]="'small'" [color]="'indigo lighten-2'" [alert]="sensor.alert"></app-progress-indicator>
		<!--
    <app-sensor-detail *ngFor="let sensor of sensors;trackBy:sensor?.id" [sensor]="sensor"></app-sensor-detail>-->
	</div>
</li>