<div id="index-banner" class="parallax-container valign-wrapper">
	<div class="section no-pad-bot">
		<div class="container valign">
			<br><br>
			<h1 class="header center dark-text text-darken-1 ">Aplicación Monitoreo</h1>
			<div class="row center">
				<h5 class="header col s12 light dark-text text-darken-1"></h5>
			</div>
			<div class="row center">
				<a href="#work" class="btn-floating btn-large waves-effect waves-light grey darken-1 head-link"><i class="material-icons">keyboard_arrow_down</i></a>
			</div>
			<br><br>

		</div>
	</div>
	<div materialize="parallax" class="parallax"><img src="{{images.second}}" alt="Unsplashed background img 2"></div>
</div>

<!--Intro and service-->
<div id="intro" class="section scrollspy">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h2 align="center">ACERCA DE LA APLICACIÓN</h2>
				<h4 class="center header text_h2"> En esta oportunidad ofrecemos con nuestro sistema de <span class="span_h2"> MONITOREO</span> la facilidad de estar más
					cerca de sus unidades y el comportamiento que éstas tienen sin necesecidad de estar presente para poderlas <span class="span_h2">OBSERVAR</span>					</h4>
			</div>


		</div>
	</div>
</div>

<!--Work-->
<div class="section scrollspy" id="work">
	<div class="container">
		<h2 class="header text_b">Nuestro Trabajo </h2>
		<div class="row">
			<div class="col s12 m4 l4">
				<div class="card small">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="{{images.icono_online}}">
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Reportes <i class="mdi-navigation-more-vert right"></i></span>

					</div>
					<div class="card-reveal">
						<span class="card-title grey-text text-darken-4">Reportes <i class="mdi-navigation-close right"></i></span>
						<p>Podrá obtener un análisis gráfico, filtrado por fecha, de las unidades monitoreadas.</p>
					</div>
				</div>
			</div>
			<div class="col s12 m4 l4">
				<div class="card small">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="{{images.edit_blue}}">
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Monitoreo Remoto<i class="mdi-navigation-more-vert right"></i></span>

					</div>
					<div class="card-reveal">
						<span class="card-title grey-text text-darken-4">Monitoreo Remoto <i class="mdi-navigation-close right"></i></span>
						<p>Podrá monitorear las unidades asociadas al grupo de preferencia, desde cualquier dispositivo con acceso a la web.</p>
					</div>
				</div>
			</div>
			<div class="col s12 m4 l4">
				<div class="card small">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="{{images.google_seo}}">
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Visualización <i class="mdi-navigation-more-vert right"></i></span>

					</div>
					<div class="card-reveal">
						<span class="card-title grey-text text-darken-4">Visualización <i class="mdi-navigation-close right"></i></span>
						<p>Podrá observar de forma gráfica el comportamiento de las unidades</p>
					</div>
				</div>
			</div>
			<div class="col s12 m4 l4">
				<div class="card small">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="{{images.bond}}">
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4"> Grupos<i class="mdi-navigation-more-vert right"></i></span>

					</div>
					<div class="card-reveal">
						<span class="card-title grey-text text-darken-4">Grupos <i class="mdi-navigation-close right"></i></span>
						<p>Tiene la opción de crear o unirse a un grupo determinado, para visualizar las unidades asociadas al mismo..</p>
					</div>
				</div>
			</div>
			<div class="col s12 m4 l4">
				<div class="card small">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="{{images.ordenador}}">
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Configuración <i class="mdi-navigation-more-vert right"></i></span>

					</div>
					<div class="card-reveal">
						<span class="card-title grey-text text-darken-4">Configuración<i class="mdi-navigation-close right"></i></span>
						<p>El usuario cuenta con la opción de configurar o editar la información de perfil.</p>
					</div>
				</div>
			</div>
			<div class="col s12 m4 l4">
				<div class="card small">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="{{images.pross}}">
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Información<i class="mdi-navigation-more-vert right"></i></span>

					</div>
					<div class="card-reveal">
						<span class="card-title grey-text text-darken-4">Información <i class="mdi-navigation-close right"></i></span>
						<p> La aplicació ofrece un módulo de información sobre la configuración de las unidades.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Parallax grupos-->

<div id="index-banner" class="parallax-container valign-wrapper">
	<!-- <div class="section no-pad-bot">
      <div class="container valign">
        <br><br>
        <!--<h1 class="header center dark-text text-darken-2">Maneja tus grupos</h1>
        <div class="row center">
          <h5 class="header col s12 light dark-text text-darken-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</h5>
        </div>-->




	<div materialize="parallax" class="parallax"><img src="{{images.grupos}}" alt="Unsplashed background img 2"></div>
	<div class="container">
		<h2 class="header text_a"> Nuestro Equipo </h2>
		<div class="row">
			<div class="col s12 m3">
				<div class="card card-avatar">
					<div class="waves-effect waves-block waves-light">
						<img class="activator" src="{{images.avatar}}">
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Nestor Tobón <br/><br/>
                            <small><em><a class="dark-text text-darken-1" href="#">Programador</a></em></small></span>
						<p>
							<a class="blue-text text-lighten-2" href="https://www.facebook.com/">
								<i class="fa fa-facebook-square"></i>
							</a>
							<a class="blue-text text-lighten-2" href="https://twitter.com/">
								<i class="fa fa-twitter-square"></i>
							</a>
							<a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/">
								<i class="fa fa-google-plus-square"></i>
							</a>
							<a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/j">
								<i class="fa fa-linkedin-square"></i>
							</a>
						</p>
					</div>
				</div>
			</div>
			<div class="col s12 m3">
				<div class="card card-avatar">
					<div class="waves-effect waves-block waves-light">
						<img class="activator" src="{{images.avatar2}}">
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">María Sanchez<br/><br/>
                            <small><em><a class="dark-text text-darken-1" href="#">Programador</a></em></small>
                        </span>
						<p>
							<a class="blue-text text-lighten-2" href="https://www.facebook.com/">
								<i class="fa fa-facebook-square"></i>
							</a>
							<a class="blue-text text-lighten-2" href="https://twitter.com/">
								<i class="fa fa-twitter-square"></i>
							</a>
							<a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/">
								<i class="fa fa-google-plus-square"></i>
							</a>
							<a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/">
								<i class="fa fa-linkedin-square"></i>
							</a>
						</p>
					</div>
				</div>
			</div>
			<div class="col s12 m3">
				<div class="card card-avatar">
					<div class="waves-effect waves-block waves-light">
						<img class="activator" src="{{images.avatar3}}">
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">
                            Moisés Yanez <br/><br/>
                            <small><em><a class="dark-text text-darken-1" href="#">Programador</a></em></small></span>
						<p>
							<a class="blue-text text-lighten-2" href="https://www.facebook.com/">
								<i class="fa fa-facebook-square"></i>
							</a>
							<a class="blue-text text-lighten-2" href="https://twitter.com/">
								<i class="fa fa-twitter-square"></i>
							</a>
							<a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/">
								<i class="fa fa-google-plus-square"></i>
							</a>
							<a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/">
								<i class="fa fa-linkedin-square"></i>
							</a>
						</p>
					</div>
				</div>
			</div>
			<div class="col s12 m3">
				<div class="card card-avatar">
					<div class="waves-effect waves-block waves-light">
						<img class="activator" src="{{images.avatar4}}">
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Argenis Rodríguez<br/><br/>
                            <small><em><a class="dark-text text-darken-1" href="#">Programador</a></em></small></span>
						<p>
							<a class="blue-text text-lighten-2" href="https://www.facebook.com/ ">
								<i class="fa fa-facebook-square"></i>
							</a>
							<a class="blue-text text-lighten-2" href="https://twitter.com/">
								<i class="fa fa-twitter-square"></i>
							</a>
							<a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/">
								<i class="fa fa-google-plus-square"></i>
							</a>
							<a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/>">
								<i class="fa fa-linkedin-square"></i>
							</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!--Team
<div class="section scrollspy" id="team">
    <div class="container">
        <h2 class="header text_b"> Nuestro Equipo </h2>
        <div class="row">
            <div class="col s12 m3">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="{{images.avatar}}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Nestor Tobón <br/>
                            <small><em><a class="dark-text text-darken-1" href="#">Programador</a></em></small></span>
                        <p>
                            <a class="blue-text text-lighten-2" href="https://www.facebook.com/">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://twitter.com/">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/j">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="{{images.avatar2}}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">María Sanchez<br/>
                            <small><em><a class="dark-text text-darken-1" href="#">Programador</a></em></small>
                        </span>
                        <p>
                            <a class="blue-text text-lighten-2" href="https://www.facebook.com/">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://twitter.com/">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="{{images.avatar3}}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">
                            Moisés Yanez <br/>
                            <small><em><a class="dark-text text-darken-1" href="#">Programador</a></em></small></span>
                        <p>
                            <a class="blue-text text-lighten-2" href="https://www.facebook.com/">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://twitter.com/">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="{{images.avatar4}}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Argenis<br/>
                            <small><em><a class="dark-text text-darken-1" href="#">Programador</a></em></small></span>
                        <p>
                            <a class="blue-text text-lighten-2" href="https://www.facebook.com/ ">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://twitter.com/">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/>">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="page-footer grey darken-1">
	<div class="container">
		<div class="row">
			<div class="col s12 l4 m10">
				<h5 class="white-text">CONTACTA CON NOSOTROS</h5>
				<p class="white-text">Subscribete para tener mayor información</p>
				<form>

					<div class="input-field">
						<i class="mdi-communication-email prefix"></i>
						<input id="icon_prefix" type="email" class="validate">
						<label for="icon_prefix">Email</label>
					</div>

				</form>

				<a routerlink="/signup" class="waves-effect waves-light btn">Sign Up
                    <i class="fa fa-sign-in right"></i></a>
       </div><!--col-->


<footer class="page-footer grey darken-1">
	<div class="container">
		<div class="row">
			<div class="col s12 l4 m10">
				<h5 class="white-text">CONTACTA CON NOSOTROS</h5>
				<p class="white-text">Subscribete para tener mayor información</p>
				<form>

					<div class="input-field">
						<i class="mdi-communication-email prefix"></i>
						<input id="icon_prefix" type="email" class="validate">
						<label for="icon_prefix">Email</label>
					</div>

				</form>

				<a routerLink="/signup" class="waves-effect waves-light btn">Sign Up
                    <i class="fa fa-sign-in right"></i></a>
			</div>
			<!--col-->


			<div id="categories" class="col l3 s12 m8">
				<img class="activator" src="{{images.urbe}}">

			</div>
			<!--col-->



			<div class="col l3 offset-l2 s12 m8">
				<h5 class="white-text">Follow us</h5>
				<a href="#"><i style="font-size: 38px;" class="fa fa-facebook-square"></i></a> &nbsp;&nbsp;&nbsp;
				<a href="#"><i style="font-size: 38px;" class="fa fa-twitter-square"></i></a>&nbsp;&nbsp;&nbsp;
				<a href="#"><i style="font-size: 38px;" class="fa fa-google-plus-square"></i></a>
			</div>
			<!--col-->

		</div>
		<!--row-->
		<!--
            <div class="row">
            	<div class="col s12 l3 offset-l5">
            		
            	
            	<a href="#"><i style="font-size: 38px;" class="fa fa-facebook-square"></i></a> &nbsp;&nbsp;&nbsp;
            	<a href="#"><i style="font-size: 38px;" class="fa fa-twitter-square"></i></a>&nbsp;&nbsp;&nbsp;
            	<a href="#"><i style="font-size: 38px;" class="fa fa-google-plus-square"></i></a>
            	</div>
            	
            </div><!--row-->
	</div>
	<!--conatiner-->
	<div class="footer-copyright">
		<div class="container">
			<p>Copyright © 2016 LOS MÍOS</p>
			<br>
		</div>
	</div>
</footer>