

#intro, #work, #team {padding-top: 4rem;}
#intro{
background: #eee;
}
h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2.8em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  word-spacing: 0.08em;
  color: #404040;

}

.text_h2 {font-weight: 100;margin-bottom: 4%; line-height: 4.5rem;}

.span_h2 {font-weight: 300;color: #26a69a;}

.text_a{color: #404040;}
.text_b{color: #26a69a;}

.in{font-weight: 400 !important; font-style: normal !important;}

.promo i {
    color: #26a69a;
    font-size: 7rem;
    display: block;
}
.card-content a {color: #26a69a;}

.card-content a:hover {color: #26a69a;}


#work, #team{background: rgb(247, 247, 247);}

#otro{background: rgb(247, 247, 247);}

.text_pink{color:#EF9A9A;}

nav ul a {
    font-size: 1.2rem;
    color: #FFF;
    letter-spacing: 2px;
    display: block;
    font-weight: 300;
    padding: 0px 15px;
}


nav ul a,
nav .brand-logo {
  color: white;
}

.col{font-family:Lora,'Times New Roman',serif;font-size:20px;color:#404040}
p {
  line-height: 1.5;
  
}
.button-collapse {
  color: #ee6e73;
}

.parallax-container {
  min-height: 650px;
  line-height: 0;
  height: auto;
 
 
}
  .parallax-container .section {
    width: 100%;

  
  }



@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}


.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}




 .parallax img 
 {
 	 background-repeat: no-repeat;
 	 background-size: cover;
   opacity: 0.6;
 }
 .parallax-container
 {
 	color: black;
 }
 @media only screen and (max-width : 600px) {
  .parallax-container
 {
 	color: white;
 }
}
 nav a.button-collapse
 {
 	color:white;
 }
 .purple.lighten-1 {
  background-color: #CC0066 !important;
}
.teal-text.text-lighten-2 {
  color: #CC0066 !important;
}
.share-buttons{
	list-style: none;
}

.share-buttons li{
	display: inline;
}
nav
{
	overflow: visible;
}
nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}



.post-preview > .post-meta {
  color: #808080;
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
}
.post-preview > .post-meta a{
 color:#616161;	
}
.post-preview > .post-meta a:hover{
color: #26a69a;	
}


.post-preview > a > .post-subtitle {
  margin: 0;
  color:#616161;
  font-weight: 300;
  margin-bottom: 10px;
}
.post-preview > a > .post-subtitle:hover{
color: #26a69a;	
}
.post-preview > a > .post-title {
  font-size: 36px;
  color:#616161;
  margin-top: 30px;
  margin-bottom: 10px;
}
.post-preview > a > .post-title:hover{
	color: #26a69a;
}

hr {
	height:0;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

.subTitleFont
{
	 -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 25px/1 "alex-brush", Helvetica, sans-serif;
  
  
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.titleFont
{
	-webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 65px/1 "carter-one", Helvetica, sans-serif;
  
  
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;

}


 
.fa{
	 
	color:black;
}
.fa:hover
{
	color:#26a69a;
}

.card-avatar .waves-effect {
    text-align: center;
    margin-top: 10px;
}

.card-avatar img {
    height: 150px;
    width: 150px;
    border-radius: 75px;
}

.card-avatar .card-content {
    text-align: center;
}

.card .card-content p {
    margin: 10px 0px;
}

.card-avatar .card-content i {
   font-size: 1rem;
}

.card-avatar .card-content .card-title {
    line-height: 1;
}


    
.card.small {
    height: 400px; }
    .card.small .card-image {
      height: 400px; }
    .card.small .card-content {
      height: 55px; }

     