<div class="row">
  <div class="col s12 l4">
    <app-simple-card [value]="thing.onlineTime" [name]="'Tiempo Encendido:'"></app-simple-card>
  </div>
  <div class="col s12 l4">
    <app-simple-card [value]="maintenanceTime" [name]="'Mantenimiento en: '"></app-simple-card>
  </div>
  <div class="col s12 l4">
    <app-simple-card [value]="incidentsNumber" [name]="'# de Incidentes: '"></app-simple-card>
  </div>
</div>
<div class="divider"></div>
<div class="row">
  <div class="col s12 l6" *ngFor="let sensor of thing.sensors; trackBy: sensor?.id">
    <div class="simple-card">
      <p>{{sensor.name}}</p>
      <canvas *ngIf="sensor.recurrentDays" baseChart [datasets]="sensor.recurrentDays" [labels]="daysLabels" [options]="barChartOptions"
        [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>

      <canvas *ngIf="sensor.recurrentHours" baseChart [datasets]="sensor.recurrentHours" [labels]="hoursLabels" [options]="barChartOptions"
        [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
    </div>

  </div>
</div>