<div class="row">
	<div class="col s12 m6 l4">
		<canvas baseChart class="chart" [data]="onlineChart.data" [labels]="onlineChart.labels" [chartType]="onlineChart.type"></canvas>
	</div>
	<div class="col s12 m6 l4">
		<group-list></group-list>
	</div>
	<!--
	<div class="col s12 m6 l4">
		<h2>TODO list</h2>
		<ul class="collection">
			<li class="collection-item white-text green">Block access to the users that are in joining stage</li>
			<li class="collection-item red lighten-3 white-text">Things doesnt update correctly - at all</li>
			<li class="collection-item">Nontify when server is not reachable</li>
			<li class="green white-text collection-item">Group things some times doesn't load correctly</li>
			<li class="collection-item white-text green">Count active and inactive things in real time</li>
			<li class="green white-text collection-item">Prompt a user to create a group or join a group if they has none</li>
			<li class="collection-item">Create a page and documentation for the user to download the python client and install it on their servers (computer)</li>
			<li class="collection-item">User Accout settings to enable or disable notifications</li>
			<li class="collection-item">Thing and sensor setting to set the timeout and the refresh rate</li>
			<li class="collection-item white-text green">Create styles and animations for the things alert UI</li>
			<li class="collection-item white-text green">Give the groups some types like public and private</li>
		</ul>
	</div>
</div>-->

	<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
		<a routerLink="/findgroup" class="btn-floating btn-large red waves-effect tooltipped" data-position="left" data-delay="50"
			data-tooltip="Crea o Unete a un Grupo" materialize="tooltip">
			<i class="large material-icons">add</i>
		</a>
	</div>