<ul id="side-nav" class="side-nav">
	<li>
		<div (click)="goToProfile()" style="cursor: pointer" *ngIf="user" class="userView indigo">
			<a><span class="white-text name">{{user.firstName}} {{user.lastName}}</span></a>
			<a><span class="white-text email">{{user.email}}</span></a>
		</div>
	</li>

	<li>
		<a routerLink="/dashboard" routerLinkActive="active" class="waves-effect">Grupos</a>
	</li>
	<li>
		<a routerLink="/notifications" routerLinkActive="active" class="waves-effect">Centro de Notificaciones</a>
	</li>


	<li>
		<a routerLink="/documentation" routerLinkActive="active" class="waves-effect">Ayuda</a>
	</li>


	<!-- Login or logout -->
	<li>
		<div class="divider"></div>
	</li>
	<li><a *ngIf="authService.isAuth() | async" (click)="logout()" class="waves-effect"><i class="material-icons">cloud</i>Logout</a></li>
	<li><a *ngIf="!(authService.isAuth() | async)" routerLink="/login" class="waves-effect"><i class="material-icons">cloud</i>Login</a></li>

</ul>