/* You can add global styles to this file, and also import other style files */
@import "../node_modules/materialize-css/dist/css/materialize.css";


#toast-container {
    top: auto !important;
    right: auto !important;
    left: 4% !important;
    bottom: 6% !important;
}

body {
    background-color: rgba(0,0,0,0.04);
}