.group-user-list{
	.member-container{
		position: relative;
		line-height: 2;
	}
	
	.value{
		font-weight: bold;
		font-size: 110%;
	}
	.light-header{
		font-weight: 300;
		font-size: 90%;
		color: grey;
	}
	.delete-btn{
		position:absolute;
		bottom: 10px;
	}
	.permissions-list{
		
		li{
			display: inline-flex;
			padding: 5px 10px;
			.text{
				
				padding-left: 8px;
			}
		}
	}
}