<div class="group-user-list">
	<div *ngIf="joining && joining.length" class="joining">
		<h5 class="center">Solicitudes de Ingreso</h5>

		<ul materialize="collapsible" class="collapsible popout group-member-list" data-collapsible="accordion">
			<li *ngFor="let member of joining;trackBy:member?.id">
				<div class="collapsible-header"><i *ngIf="can(member, 'admin')" class="material-icons">settings_applications</i> {{member.email}}
				</div>
				<div class="collapsible-body">
					<div class="container member-container" style="padding: 8px 0">
						<div class="row">
							<div class="col s12 m6 center">
								<div><span class="value">{{member.firstName}} {{member.lastName}}</span> </div>
							</div>
							<div class="col s12 m6 center">
								<a class="btn-floating waves-effect waves-light green tooltipped" data-position="right" data-delay="50" data-tooltip="Agregar Usuario"
									materialize="tooltip" (click)="addMember(member)">
									<i class="large material-icons">add</i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>



	<h5 class="center">Miembros</h5>
	<ul materialize="collapsible" class="collapsible popout group-member-list" data-collapsible="accordion">
		<li *ngFor="let member of members;trackBy:member?.id">
			<div class="collapsible-header"><i *ngIf="can(member, 'admin')" class="material-icons">settings</i> {{member.email}}
			</div>
			<div class="collapsible-body">
				<div class="container member-container" style="padding: 8px 0">
					<div class="row">
						<div class="col s12 m6 center">
							<div><span class="value">{{member.firstName}} {{member.lastName}}</span> </div>
						</div>
						<div class="col s12 m6 center">
							<ul class="permissions-list">
								<li [ngClass]="{'green-text': can(member, 'admin'),'red-text': !can(member, 'admin')}">
									<i class="material-icons">settings</i>
									<span class="text">Administrador</span>
									<div *ngIf="can(userMember, 'admin') && !(member.id === this.userMember.id)" class="switch">
										<label>
                    <input 
                    (click)="adminCheckbox($event, member)" 
                    [checked]="can(member, 'admin')" type="checkbox"
                    >
                    <span class="lever"></span>
                  </label>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col s12 left">
							<a class="btn-floating waves-effect waves-light red delete-btn tooltipped" data-position="right" data-delay="50" data-tooltip="Eliminar del Grupo"
								materialize="tooltip" (click)="unMember($event, member)">
								<i class="large material-icons">delete</i>
							</a>
						</div>
					</div>


				</div>

			</div>
		</li>

	</ul>

</div>