<form *ngIf="!loading" materialize [formGroup]="userForm" (ngSubmit)="updateUser(userForm.value)">
  <div style="margin-top: 1em;" class="container">


    <div class="row">
      <div class="col s12 m6">
        <field feedback="true">
          <input id="first_name" formControlName="firstName" type="text" class="validate">
          <label for="first_name">Nombre</label>
        </field>
      </div>
      <div class="col s12 m6">
        <field feedback="true">
          <input id="last_name" type="text" formControlName="lastName" class="validate" required>
          <label for="last_name">Apellido</label>
        </field>

      </div>
    </div>
    <div class="row">
      <div class="col s12 center">
        <button *ngIf="!sendingForm" [class.disabled]="!userForm.valid || !userForm.dirty" class="btn waves-effect waves-light" type="submit"
          name="action">Guardar
                    <i class="material-icons right">send</i>
              </button>
        <div *ngIf="sendingForm" class="progress">
          <div class="indeterminate"></div>
        </div>
        <div *ngIf="sucess">
          <i class="material-icons left">done </i>
        </div>
      </div>
    </div>
  </div>
</form>
<div *ngIf="loading" style="margin-top: 3em" class="container">

  <div class="row">
    <div class="col s12 center">
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>