<div class="sub-navbar">
	<a routerLink="./" (click)="littleHack($event)" [class.active]="activeRoute" class="waves-effect waves-teal btn-flat">Consulta</a>
	<a routerLink="reports" (click)="littleHacky($event)" routerLinkActive="active" class="waves-effect waves-teal btn-flat">Reportes</a>
	<a routerLink="configuration" (click)="littleHacky($event)" routerLinkActive="active" class="waves-effect waves-teal btn-flat">Configuración</a>
</div>

<div class="containter">
	<router-outlet></router-outlet>
</div>