.note{
	.title{
		color: rgb(120, 120, 0);
		padding-left: 0.8em;
	}
	  background-color: rgba(252, 247, 85, 0.4);
    color: rgb(139, 135, 0);
    margin: 1em;
		padding: 1em;
		padding-left: 3.3em;
}