<div class="container">

	<div class="row">
		<div class="col s12">
			<h5>1.- Descarga el programa para monitoreo de unidades</h5>
			<p>
				Este programa permite el monitoreo de computadores enviando informacion en tiempo real sobre la carga de CPU y RAM
			</p>
			<div class="center">
				<a class="btn btn-large teal waves-effect" href="https://github.com/Nestyko/sensor-monitor/archive/master.zip"><i class="material-icons left">file_download</i>Descargar</a>
			</div>
		</div>
		<div class="col s12 note">
			<strong class="title">Requerimientos</strong>
			<ul class="browser-default">
				<li>Python version 3.0 o mayor</li>
				<li>PIP (por lo general se instala al instalar python)</li>
				<li>Conexion a Internet</li>
			</ul>
		</div>
		<div class="col s12 note">
			<strong class="title">Compatible con:</strong>
			<ul class="browser-default">
				<li>Windows XP en adelante</li>
				<li>Linux</li>
				<li>OSX</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<h5>2.- Instalar los paquetes requeridos</h5>
			<p>
				Antes de poder utilizar el programa se deberan descargar e instalar ciertos paquetes especificos para cada plataforma:
			</p>
		</div>
		<div class="col s12">
			<section>
				<pre>
					<code class="bash">
    pip install -r requirements.txt
          </code>
				</pre>
			</section>
		</div>

	</div>
	<div class="row">
		<div class="col s12">
			<h5>3.- Colocar los datos de Usuario</h5>
			<p>
				El programa necesita los datos del usuario para poder registrar la unidad satisfactoriamente, estos datos los introducimos
				dentro de un archivo llamado <strong>thing.config.json</strong>
			</p>
		</div>
    <form materialize>
      <div class="row">
        <div class="col s6 input-field">
          <input type="text" name="thing_name" [(ngModel)]="thingConf.thing.name" class="validate" id="thingName">
          <label for="thingName">Nombre de Unidad</label>
        </div>
        <div class="col s6 input-field">
          <select   (change)="groupSelected($event)" class="browser-default" name="groups" id="groups">
            <option value="" disabled selected>Seleccione un Grupo</option>
            <option *ngFor="let group of groups" value="{{group.id}}" >{{group.name}}</option>
          </select>
        </div>
      </div>
    </form>
		<div class="col s12">
			<section>
				<pre>
					<code class="json">
{{thingConf | json}}
          </code>
				</pre>
			</section>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<h5>4.- Comienza a monitorear tu sistema</h5>
			<p>Incia la aplicacion con este comando</p>
		</div>
		<div class="col s12">
			<section>
				<pre>
					<code class="bash">
    python start.py
          </code>
				</pre>
			</section>
		</div>
		<div class="col s12 note">
			<span class="title">Nota:</span>
			<p>En Linux y Mac es probable que tenga que escribir "python3" en vez de "python"</p>
			<pre>
				<code>
    python3 start.py
        </code>
			</pre>
		</div>

	</div>
</div>
